button {
    background: white;
    border: 1px solid gray;
    margin-right: -1px;
    margin-top: -1px;
    width: 80px;
    height:80px;
    text-align: center;
    font-weight: bold;
}

button:focus {
    outline: none;
}

button.reset {
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    width: 100px;
}